# Supabase Configuration
# Project Name: NICU_HYPOXIA
# Project ID: pvevsokcinxbjihrizzb
VITE_SUPABASE_URL=https://pvevsokcinxbjihrizzb.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_rmjA5F07noEzynasluFuAQ_Gny3Mo7S
